/* GLOBAL */
body {
  margin: 0;
}

body * {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

/* JS */
.dots {
  height: 15px;
  width: 15px;
  src: url(./images/dots.png);
  background-size: 15px;
}

.highlight {
  background-color: chartreuse;
}

.done {
  background-color: red;
}

/* LIST STRUCTURE */
#list {
  position: fixed;
  top: 25%;
  left: calc(100% - 350px);
  width: 350px;
}