/* GLOBAL */
body {
  margin: 0;
  background: rgb(238,158,5);
  background: linear-gradient(0deg, rgba(238,158,5,1) 0%, rgba(0,0,0,1) 100%);
  background-repeat: no-repeat;
  height: 100vh;
}

body * {
  list-style: none;
  margin: 0;
  padding: 0;
  outline: none;

}

.hidden {
  display: none;
}

/* JS */
.dots {
  height: 15px;
  width: 15px;
  src: url(./images/dots.png);
  background-size: 15px;
}

.highlight {
  background-color: chartreuse;
}

.done {
  background-color: red;
}

/* LIST STRUCTURE */
#list {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 750px;
}

#title {
  display: flex;
  flex-direction: row;
  border: rgb(112, 103, 87) 1px solid;
}

#listTitle {
  padding: 12px;
  border-bottom: 0;
  width: 100%;
}

#title button {

}

#addTask {
  display: flex;
  flex-direction: row;
  border: rgb(112, 103, 87) 1px solid;
}

#addDescription {
  padding: 12px;
  border-bottom: 0;
  width: 100%;
}

#addButton {

}

/* ul */
/* li, input type checkbox, input type text, button, img */
#tasks { 
  display: flex;
  flex-direction: column;
  width: 100%;
}

#tasks li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#tasks li input[type=text]{
  padding: 10px;
  width: 100%;
  border: rgb(112, 103, 87) 1px solid;
}


#clearCompleted {
  padding: 12px;
  border: rgb(112, 103, 87) 1px solid;
}